<?xml version="1.0"?>
<configuration >
  <configSections>
    <section name="DataConnectProviders" type="WComm.DataConnectProviders,WComm" />
  </configSections>
  <DataConnectProviders>
    <Providers>
      <add name="Default" type="WComm.Provider" ProviderType="System.Data.SqlClient" RegistryKeyValueProperty="URLFROMVAR" ConnectionStringProperty="zstoreConnectionString"/>
      <add name="ZoytoCommon" type="WComm.Provider" ProviderType="System.Data.SqlClient" RegistryKeyValueProperty="config" ConnectionStringProperty="data source=PC201511191301\SQL01; Initial catalog=Zoyto_Common; User Id=sa; Pwd=999"/>
      <add name="ZoytoPH" type="WComm.Provider" ProviderType="System.Data.SqlClient" RegistryKeyValueProperty="config" ConnectionStringProperty="data source=PC201511191301\SQL01; Initial catalog=Zoyto_Common; User Id=sa; Pwd=999"/>
    </Providers>
  </DataConnectProviders>
  <appSettings>

    <add key="SMTPServer" value="" />
    <add key="SMTPUserName" value="" />
    <add key="SMTPPassword" value="" />

    <add key="RegistrySection" value="SOFTWARE\Zoyto\"/>
    <add key="LogErrorEmailFrom" value="ludan176127@qq.com" />
    <add key="LogErrorEmailTo" value="ludan176127@qq.com"/>
    <add key="AlwaysSaveLogSql" value="Error"/>
    <add key="EncryptKey" value="zoyto"/>
    <add key="IsTestMode" value="true" />
    <add key="IsLog" value="true" />
    <add key="TestMailTo" value="ludan176127@qq.com" />
    <add key="MailBCC" value="LuDan_Mail@163.com" />
    <add key="CommandTimeout" value="600" />
    <add key="SMTPTimeout" value="6000" />
    <add key="EncryptPassword" value="OAVh3b1DCEaM6DRqBMpZmw=="/> 
    <add key="Hold" value="N" />
    <add key="MachineName" value="PC201511191301" />
    <add key="PrintInvoiceSize" value="7"/>
    <add key="InvoiceImagePath" value="E:\Git\VC2\VCTransfer\bin\Debug" />
    
    <!--<add key="ShipConfirmEmail" value="false" />
    <add key="VeraCoreUserName" value="danswebservice" />
    <add key="VeraCorePassword" value="ws#4DanLu" />
    <add key="OwnerCode" value="00999" />-->

  

  </appSettings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="OMSSoap">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://rhu239.veracore.com/pmomsws/oms.asmx"
          binding="basicHttpBinding" bindingConfiguration="OMSSoap"
          contract="VeraCoreOMS.OMSSoap" name="OMSSoap" />
    </client>
  </system.serviceModel>
  
</configuration>